body {
    font-family: Arial, sans-serif;
}

#navbar {
    background-image: linear-gradient(to right, #e4f5e6, #acebbe);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar:hover {
    background-image: linear-gradient(to right, #e4f5e6, #acebbe);
}

.nav-logo {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

.nav-items {
    display: flex;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 5px;
    margin-right: 10px;
    border: 2px solid #ddd;
    border-radius: 4px;
}

.search-bar input[type="text"]::placeholder {
    color: #999;
}

.nav-button {
    padding: 5px 15px;
    margin-left: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50; /* A shade of green */
    color: white;
    cursor: pointer;
}

.nav-button:hover {
    background-color: #45a049; /* A darker shade of green */
}

#product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 70px;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
}

.product-item:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item button {
    padding: 10px 20px;
    border: 2px solid #45a049;
    border-radius: 20px;
    background-color: transparent;
    color: #45a049;
    cursor: pointer;
    font-weight: bold;
    /* margin-left: 10px; */
    transition: all 0.3s ease;
}

.product-item form {
    display: inline-block;
    margin-right: 20px;
}

h3 {
    color: #333; /* Or any shade of green you prefer */
}

p {
    font-weight: bold;
    color: #000000; /* Or any shade of green you prefer */
}
