<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery Store</title>
    <link rel="stylesheet" href="/static/css/loginstyles.css">
</head>
<body>
    <header class="login-header">
        <nav>
            <div class="header">Grocery Store</div>
        </nav>
    </header>
    <main class="margin-top20">
        <section class="signup-container">
            <h2>Register</h2>
            <form class="signup-form"  action="/login" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Register</button>
            </form>
        </section>
    </main>
</body>
</html>